{% extends "main.html" %}
{% block about %}
{% if about %}
<div class="about text">
	<h1>О проекте</h1>
	<br/>
	<p>
	Джонни — маленький австралийский мальчик.
	Однажды друзья предложили ему на выбор одно	долларовую и двухдолларовую монеты. В Австралии однодолларовая монета гораздо больше по раз-
	меру, чем двухдолларовая. Джонни выбрал однодолларовую. Друзей это развеселило, и они сочли
	Джонни дурачком: он до сих пор не знает, что меньшая по размеру монета стоит в два раза дороже, чем
	большая! Всякий раз, когда им хотелось показать,
	какой дурачок этот Джонни, они повторяли эксперимент. Джонни всякий раз повторял ошибку.
	</p><p>
	Однажды один человек, который наблюдал за происходящим, пожалел Джонни и, отведя мальчика в
	сторонку, объяснил ему, что маленькая монета на
	самом-то деле в два раза ценнее большой.</p><p>
	Джонни внимательно выслушал, а затем сказал:
	«Да, я знаю. Но сколько раз они предложили бы мне
	свои монеты, если бы я выбрал двухдолларовую
	монету в первый же раз?»
	</p>
</div>
{% endif %}
{% endblock %}

