{% extends "main.html" %}
{% block about %}
{% if about %}
<div class="about">
	<h1>О проекте</h1>
	<br/>
	<p>
		Давным-давно, в стране, которой уже не найдешь на карте, жили-были маленькие 
		истории, запечатленные на отрезках фотопленки, которые с помощью специального 
		проектора можно было просматривать на любой белой поверхности. Вечером, 
		когда на улице становилось темно, выключался свет, и привычная комната 
		превращалась в домашний театр. Ручка проектора поворачивалась, и перед юными 
		зрителями разворачивались картины волшебного мира диафильмов.
    </p><p>
    Здравствуйте, дорогие зрители и читатели!
    </p><p>
    Мы постарались, чтобы в широком море диафильмов вам было легко ориентироваться. 
    Наш каталог организован так, чтобы в нем можно было искать диафильмы по 
    <a href="/slides/label/skazka">направлениям</a>, <a href="/studios/">студиям</a>, 
    <a href="/slides/year/1978">годам</a> выпуска, <a href="/authors/">авторам</a> 
    и даже именам персонажей. 
    Найденные диафильмы можно 
    <a href="/slides/view/ali-baba-i-sorok-razbojnikov">просмотреть</a> 
    на сайте или скачать. Для того, 
    чтобы воспользоваться нашими материалами, не нужно ничего спрашивать — 
    берите и пользуйтесь на здоровье.
    </p><p>
    Если у вас во время посещения возникнет какий-либо вопрос, пожелание или 
    просто желание что-нибудь сказать, <a href="/mail/">напишите нам</a> письмо.
    </p><p>
    Приятного просмотра!
	</p>
</div>
{% endif %}
{% endblock %}

