<div class="footerb">
	<div class="leftshift">
		<div class="footertext">
			<div class="textcolumn cell">
				<!--h3>Кашалотик</h3-->
				<ul class="footerlist">
				<li><a href="/about">О проекте</a></li>
				<!--li><a href="#">Галерея</a></li-->
				<li><a href="/mail/">Написать</a> нам: <a href="mailto:{{mailto}}">{{mailto}}</a></li>
				<li><a href="#">Блог-сообщество</a></li>
				</ul>
			</div>
			
			<!--div class="textcolumn cell">
				<h3>Хорошее</h3>
				<ul class="footerlist">
				<li><a href="#">Какой-то сайт</a></li>
				<li><a href="#">Еще какой-то</a></li>
				<li><a href="#">Очень хорошее место</a></li>
				<li><a href="#">Булки в собственном соку</a></li>
				</ul>
			</div-->
							
			<div class="cell">
				<span class="smallertext">&copy; 2008—2011 Кашалотик</span>
			</div>
		</div>
	</div> <!--leftshift-->
</div> <!--/footer-->
