{% extends "main.html" %}
{% block about %}
<div class="about">
	<h1>Письмо</h1>
	<p>Напишите нам письмо, если у вас есть замечания относительно содержимого 
	сайта, его оформления и работы, если вам что-либо не нравится, или наоборот — 
	нравится.
	<p>Если у вас имеются какие-нибудь интересные дополнения либо комментарии к 
	содержимому, представленному на сайте — расскажите нам об этом. Присылайте 
	интересные ссылки о диафильмах, биографии авторов и т.п.
	</p><p>
	Ваш адрес электронной почты будет использован только для ответа и ни в коем 
	случае не будет передан третьим лицам.
	</p>

{% if error or success%}
<div class="text">
	<span class="{%if error%}err {%endif%}smallertext">{{error|safe or success|safe}}</span>
</div>
{% endif %}
	<form method="POST" action="/mail/">
		<span class="table">
			<div class="row">
				<span class="cell smallertext">Электронная почта: </span>&nbsp;&nbsp;
				<input name="sender" type="text" class="box cell smallertext" placeholder="Ваш почтовый адрес" value="{{sender}}"/>
			</div><div class="row">
				<span class="cell smallertext">Тема письма: </span>&nbsp;&nbsp;
				<input name="subject" type="text" class="box cell smallertext" placeholder="Кашалотику" value="{{subject}}"/>
			</div>
		</span>
		<p>
			<div class="cell">
				<textarea name="body" class="box intext smallertext cell" placeholder="Текст письма">{{body}}</textarea>
			</div>
		</p>
		<input type="submit" value="Отправить" class="smallertext submit text"/>
	</form>
</div>
{% endblock %}

